name: Fast Flutter Web Build

on:
  push:
    branches: [ main, master ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true # Yangi kod kelsa, eskisini to'xtatadi (tezlik uchun)

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Kodni olish
        uses: actions/checkout@v3

      - name: Flutter o'rnatish (Cache bilan)
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true # MUHIM: Har safar Flutterni boshqatdan yuklamaydi!

      - name: Loyihani yaratish (Faqat Web uchun)
        run: flutter create --project-name hisobcheck --platforms web .

      - name: Web Build (HTML renderer - Tezroq)
        # --web-renderer html bu buildni tezlashtiradi (lekin grafika sal oddiyroq bo'ladi)
        run: flutter build web --release --web-renderer html --base-href "/${{ github.event.repository.name }}/"

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/web

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
