name: Android APK Build

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'

    - name: Fix project name
      run: sed -i 's/name: Hisobcheck/name: hisobcheck/g' pubspec.yaml

    - name: Get dependencies
      run: |
        flutter pub get
        flutter pub add supabase_flutter
        flutter pub add intl
        flutter pub add shared_preferences

    - name: Recreate Android folder
      run: |
        rm -rf android
        flutter create --project-name hisobcheck --platforms android .

    - name: Add Internet Permission
      run: |
        cat <<EOF > android/app/src/main/AndroidManifest.xml
        <manifest xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.INTERNET"/>
            <application
                android:label="Hisobcheck"
                android:name="\${applicationName}"
                android:icon="@mipmap/ic_launcher">
                <activity
                    android:name=".MainActivity"
                    android:exported="true"
                    android:launchMode="singleTop"
                    android:theme="@style/LaunchTheme"
                    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                    android:hardwareAccelerated="true"
                    android:windowSoftInputMode="adjustResize">
                    <meta-data
                      android:name="io.flutter.embedding.android.NormalTheme"
                      android:resource="@style/NormalTheme"
                      />
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER"/>
                    </intent-filter>
                </activity>
                <meta-data
                    android:name="flutterEmbedding"
                    android:value="2" />
            </application>
        </manifest>
        EOF

    - name: Build APK with Secrets
      run: |
        flutter build apk --release \
          --dart-define=SUPABASE_URL=${{ secrets.SUPABASE_URL }} \
          --dart-define=SUPABASE_KEY=${{ secrets.SUPABASE_KEY }}

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hisobcheck-final-apk
        path: build/app/outputs/flutter-apk/app-release.apk
