name: Fast Web Deploy

on:
  push:
    branches: [ main, master ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # Flutterni to'g'ri o'rnatish
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0' # Versiyani aniq ko'rsatamiz (xatolik bo'lmasligi uchun)
          cache: true
      
      - name: Loyihani yaratish
        run: flutter create --project-name hisobcheck --platforms web .
      
      # TUZATILGAN QATOR: --web-renderer olib tashlandi
      - name: Build Web
        run: flutter build web --release --base-href "/${{ github.event.repository.name }}/"
      
      - uses: actions/upload-pages-artifact@v3
        with:
          path: build/web
          
      - id: deployment
        uses: actions/deploy-pages@v4
